name: MyAwesomeBoard V1.0
lsefreq: 0
hsefreq: 0
voltage: 3.3
mcutype: STM32F405xx
other:
    STM32_HSE_BYPASS: ~
    STM32_LSEDRV: (3U << 11U) 
default: input, pushpull, starthigh, pullup, highspeed
pins:
    test: pa0
    fx_1: pa2, analog, floating
    fx_2: pa5, analog, floating
    rst: pb7, output, opendrain
